@import "./base/color";
@import "./base/font";
@import "./base/mixin";
@import "./base/btn";

.header {
    @include size(100vw, auto);
    position: fixed;
    z-index: 999;
    .headerItem {
        max-width: 1440px;
        height: 100px;
        display: flex;
        align-items: center;
        background-color: transparent;

        h1 {
            margin-left: 5vw;
            width: 120px;
            transition: 0.5s;
            opacity: 1;

            img {
                width: 100%;
                object-fit: contain;
                padding-top: 20px;
            }
        }
        a {
            padding: 15px 10px;
            background: linear-gradient(90deg, #4ee5ea 3.94%, #26d0a8 94.73%);
            opacity: 1;
            transition: 0.5s;
            border-radius: 24px;
            margin: 0 0 0 auto;
        }
        .startBtnClose {
            opacity: 0;
        }
        .hb {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            margin-left: 35px;
            margin-right: 5vw;
            cursor: pointer;
            transition: 0.5s;

            @include size(30px, 30px);
            span {
                @include size(30px, 3px);
                background-color: $white;
                border-radius: 3px;
                transition: 0.5s;
            }
            span:last-child {
                @include size(26px, 3px);
            }

            &:hover {
                span:last-child {
                    width: 30px;
                }
            }
        }
        .hbActive {
            transition: 0.3s ease-in-out;
            transform: rotate(45deg);

            span:nth-child(2) {
                opacity: 0;
            }
            span:first-child,
            span:last-child {
                transition-delay: 0.3s;
            }
            span:first-child {
                transform: translateY(12px);
            }
            span:last-child {
                width: 30px;
                transform: translateY(-4px) rotate(90deg);
            }
        }
    }
    .appear {
        background-color: $white;
        opacity: 0.9;
        transition: 0.3s;
        .hb span {
            background-color: $hb;
        }
        h1 {
            opacity: 1;
        }
    }
    nav {
        @include size(100vw, 100vh);
        background: linear-gradient(180deg, #585880 3.61%, #26c6d0 95.7%);
        position: absolute;
        top: 0;
        transition: 0.5s;
        clip-path: circle(10.7% at 100% 0);
        opacity: 0;
        z-index: -1;
    }
    .navOpen {
        clip-path: circle(110.9% at 51% 0);
        opacity: 0.9;
        position: absolute;
    }
}

.banner {
    @include size(100vw, 100vh);

    video {
        @include size(100vw, 105vh);
        object-fit: cover;
    }
    .top {
        position: absolute;
        top: 20%;
        left: 15%;
        height: 80vh;

        &::before {
            content: "DIGITAL AGENCY";
            color: white;
            font-weight: 700;
            letter-spacing: 2.22222px;
            transform: rotate(-90deg);
            position: absolute;
            top: 40%;
            left: -30%;
        }
        &::after {
            content: "";
            display: block;
            width: 130px;
            border: solid 1px white;
            position: absolute;
            transform: rotate(-90deg);
            left: -28%;
            top: 70%;
        }

        h2 {
            position: relative;
            z-index: 1;
            span {
                display: block;
            }
            span:last-child {
                border-top: 8px solid $primary;
                position: absolute;
                display: block;
                width: 100%;
                top: calc(100% - 25px);
                z-index: -1;

                &::after {
                    content: "";
                    @include size(10px, 10px);
                    border-radius: 50%;
                    background-color: $dot;
                    display: inline-block;
                    position: absolute;
                    right: -20px;
                    top: -10px;
                }
            }
        }
    }
    .salad {
        position: absolute;
        text-align: center;
        top: 85%;
        @include size(100vw, 20vh);

        &::after {
            content: "";
            display: block;
            @include size(1px, 23%);
            background-color: $white;
            position: absolute;
            left: 50%;
        }
        a {
            display: inline-block;

            p {
                color: $white;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 2.22222px;
            }
        }
    }
    &::after {
        content: "";
        display: block;
        @include size(1px, 15%);
        background-color: $hb;
        position: absolute;
        left: 50%;
        transform: translateY(-4px);
    }
}
.about {
    background-color: $background;
    padding: 200px 0;

    .video {
        position: relative;
        @include size(60vw, auto);
        margin: 0 auto;
        .aboutVideo {
            @include size(100%, 100%);
            object-fit: cover;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    p {
        margin: 30px 10%;
    }
}
.awards {
    display: flex;
    justify-content: flex-end;
    margin-top: -200px;
    .awards-box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background-color: $white;
        border-radius: 50px 0px 50px 50px;
        width: 85vw;
        padding: 65px;

        .awards-contents {
            width: 35%;
        }
        .awards-pics {
            @include size(55%, fit-content);
            display: flex;
            flex-wrap: wrap;
            padding-left: 50px;

            img {
                width: 50%;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }
}
.ingradients {
    background-color: $primary;
    padding: 320px 0;
    border-radius: 50px;
    z-index: -1;
    margin-top: -250px;

    h3 {
        color: $white;
        text-decoration-color: $hb;
    }
    p {
        color: $white;
        margin: 50px auto;
        width: 80%;
    }
    .primary-btn {
        background-color: $hb;
    }
    .services {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;

        .service {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-sizing: border-box;
            padding: 5px;
            margin: 30px auto;
            width: 33.333333%;
            height: 400px;

            .service-pic {
                background-color: $white;
                border-radius: 50%;
                margin: 0 auto;
                @include size(108px, 108px);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin: auto;
                }
            }
            h4 {
                height: 15%;
                margin: 10px auto auto;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p {
                height: 50%;
                margin: 10px auto auto;
            }
            a {
                margin: auto;
            }
        }
        > p {
            font-size: 18px;
            font-weight: 700;
            position: relative;
            z-index: 1;
            display: inline-block;
            width: fit-content;

            &::before {
                content: "";
                border-top: 10px solid $highlight;
                position: absolute;
                display: block;
                width: 100%;
                top: 50%;
                left: 0;
                z-index: -1;
            }
        }
    }
}
.tony {
    display: flex;
    justify-content: flex-start;
    .tony-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/shutterstock.jpg);
        @include bgSetting(cover, center);
        padding: 85px 65px;
        width: 75%;
        border-radius: 0 50px 50px 50px;
        margin-top: -250px;

        .tony-pic {
            padding: 20px 60px;
            box-sizing: border-box;
            width: 30%;
            text-align: center;
            color: $white;
            img {
                border-radius: 50%;
            }
            h4 {
                margin: 0;
                margin-top: 20px;
            }
            p {
                margin: 0;
                font-style: italic;
            }
        }
        .tony-content {
            width: 70%;
            color: $white;
            position: relative;
            transform: translateY(30px);
            p {
                font-size: 22px;
                line-height: 48px;
                padding: 30px 0;

                span {
                    color: $highlight;
                }
            }

            &::before {
                content: "";
                @include size(90px, 60px);
                background-image: url(../images/quotemarks.svg);
                @include bgSetting(contain, center);
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.exp {
    padding-top: 432px;
    margin-top: -400px;
    z-index: -2;

    p {
        padding: 50px 0;
    }
}
.intro {
    @include size(100vw, 100vh);
    overflow: hidden;
    position: relative;

    > img {
        @include size(100%, 100%);
        object-fit: cover;
        filter: brightness(0.25) blur(3px);
        animation: bgmove 60s infinite;
    }

    @keyframes bgmove {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.5);
        }
    }
    .count {
        color: $white;
        position: absolute;
        right: 10%;
        top: 20%;
        @include size(50px, 50px);
        .line {
            width: 40px;
            height: 1px;
            background-color: $primary;
            display: inline-block;transform: rotate(-45deg);
            position: absolute;
            top: 50%;
        }
        p{
            margin: 0;
            position: absolute;
        }
        .num {
            padding-right: 5px;
            display: flex;
            align-items: flex-start;
            color: #fff;
            top: 0;
            left: 0;
        }
        .total {
            padding-left: 5px;
            display: flex;
            align-items: flex-end;
            color: #fff;
            bottom: 0;
            right: 0;
        }
    }
    .intro-box {
        max-width: 1440px;
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;

        .pre,
        .next {
            position: absolute;
            top: 50%;
            padding: 80px;
            margin: auto;
            cursor: pointer;
        }
        .pre {
            left: 0;
            img {
                transform: rotate(-180deg);
            }
        }
        .next {
            right: 0;
        }
        .intro-inner {
            box-sizing: border-box;
            width: 80%;
            margin: 100px auto auto;
            display: flex;
            justify-content: space-evenly;

            .intro-pic {
                width: 40%;
                height: fit-content;
                box-sizing: border-box;
                position: relative;
                img {
                    border-radius: 50px;
                    margin: 50px;
                    margin-left: 0;
                    @include size(100%, 100%);
                    object-fit: cover;
                }
                a {
                    position: absolute;
                    bottom: -10%;
                    right: -20%;
                }
            }
            .intro-content {
                width: 50%;
                color: $white;
                text-align: left;
                box-sizing: border-box;
                padding: 80px 0 0 80px;

                h3 {
                    text-decoration: none;
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    width: fit-content;
                    span {
                        border-top: 8px solid #26c6d0;
                        position: absolute;
                        display: block;
                        width: 100%;
                        bottom: 3px;
                        z-index: -1;
                    }
                }
            }
        }
    }
}
