@import "./base/color";
@import "./base/font";
@import "./base/mixin";
@import "./base/btn";
[v-cloak] {
    display: none;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header {
    @include size(100vw, auto);
    position: fixed;
    z-index: 999;
    .headerItem {
        width: 100vw;
        height: 100px;
        display: flex;
        align-items: center;
        background-color: transparent;

        @include mobile() {
            height: 70px;
        }

        h1 {
            margin-left: 5vw;
            width: 120px;
            transition: 0.5s;
            opacity: 1;

            img {
                width: 100%;
                object-fit: contain;
                padding-top: 20px;
            }
        }
        a {
            padding: 15px 10px;
            background: linear-gradient(
                90deg,
                #4ee5ea,
                #26d0a8,
                #5af6ab,
                #6ff0f5
            );
            border: solid 2px rgba(147, 243, 250, 0);
            box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
            opacity: 1;
            transition: 0.5s;
            border-radius: 24px;
            margin: 0 0 0 auto;
            background-size: 300% 100%;
            transition: all 0.4s ease-in-out;

            &:hover,
            &:active {
                background-position: 100% 0;
                border: solid 2px rgba(240, 251, 251, 0.7);
            }
            @include mobile() {
                opacity: 0;
            }
        }
        .startBtnClose {
            opacity: 0;
        }
        .hb {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            margin-left: 35px;
            margin-right: 5vw;
            cursor: pointer;
            transition: 0.5s;

            @include size(30px, 30px);
            span {
                @include size(30px, 3px);
                background-color: $white;
                border-radius: 3px;
                transition: 0.5s;
            }
            span:last-child {
                @include size(26px, 3px);
            }

            &:hover {
                span:last-child {
                    width: 30px;
                }
            }
        }
        .hbActive {
            transition: 0.3s ease-in-out;
            transform: rotate(45deg);

            span:nth-child(2) {
                opacity: 0;
            }
            span:first-child,
            span:last-child {
                transition-delay: 0.3s;
            }
            span:first-child {
                transform: translateY(12px);
            }
            span:last-child {
                width: 30px;
                transform: translateY(-4px) rotate(90deg);
            }
        }
    }
    .appear {
        background-color: $white;
        opacity: 0.9;
        transition: 0.3s;
        .hb span {
            background-color: $hb;
        }
        h1 {
            opacity: 1;
        }
    }
    nav {
        @include size(100vw, 100vh);
        background: linear-gradient(
            180deg,
            rgba(88, 88, 128, 0.9) 3.61%,
            rgba(38, 198, 208, 0.9) 95.7%
        );
        position: absolute;
        top: 0;
        transition: 0.5s;
        clip-path: circle(10.7% at 100% 0);
        opacity: 0;
        z-index: -1;

        .navlist {
            max-width: 1320px;
            width: 100%;
            height: 100vh;
            display: flex;
            margin: auto;
            align-items: center;
            @include pad() {
                flex-direction: column;
                margin-top: 10%;
            }
            @include mobile() {
                margin-top: 75px;
                height: 85%;
            }

            div {
                box-sizing: border-box;
                padding: 20px;
                // border: solid 1px black;
                border-radius: 30px;
                color: $white;
                @include bgSetting(cover, center);
                @include pad() {
                    display: flex;
                    justify-content: space-evenly;
                    padding: 0;
                }
                @include mobile() {
                    flex-direction: column;
                }

                > div {
                    margin: 20px 0;
                    padding: 15% 40px;
                    position: relative;
                    opacity: 0;
                    transform: translateY(-50px);

                    h3 {
                        text-decoration: none;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                    }
                    @include pad() {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        &::before {
                            display: none;
                        }
                    }
                    @include mobile() {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .left {
                width: 35%;
                height: 80vh;
                @include pad() {
                    width: 100%;
                    height: 30vh;
                }
                @include mobile() {
                    height: 33.33333%;
                }

                div:first-child {
                    background: $primary;
                    background-image: url(../images/list1.png);
                    h3,
                    p {
                        margin-left: 60px;
                    }
                    @include pad() {
                        h3,
                        p {
                            margin-left: 0;
                        }
                        width: 45%;
                    }
                    @include mobile() {
                        width: 100%;
                        height: 50%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../images/1.svg);
                        @include bgSetting(contain, center);
                        width: 50px;
                        height: 70px;
                        left: 15%;
                        left: 40px;
                    }
                }
                div:last-child {
                    background: $dot;
                    background-image: url(../images/list2.png);
                    padding-top: 50%;
                    h3,
                    p {
                        margin-left: 60px;
                    }
                    h3::after {
                        background-color: $primary;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../images/2.svg);
                        @include bgSetting(contain, center);
                        width: 50px;
                        height: 70px;
                        left: 40px;
                    }
                    @include pad() {
                        h3,
                        p {
                            margin-left: 0;
                        }
                        width: 45%;
                        padding-top: 0;
                    }
                    @include mobile() {
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            .middle {
                width: 30%;
                height: 95vh;
                @include pad() {
                    width: 100%;
                    height: 30vh;
                }
                @include mobile() {
                    height: 33.33333%;
                }
                div:first-child {
                    background: $highlight;
                    background-image: url(../images/list3.png);
                    padding-top: 85%;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../images/3.svg);
                        @include bgSetting(contain, center);
                        width: 100px;
                        height: 50px;
                        bottom: 30%;
                    }
                    @include pad() {
                        h3,
                        p {
                            margin-left: 0;
                        }
                        width: 45%;
                        padding-top: 0;
                    }
                    @include mobile() {
                        width: 100%;
                        height: 50%;
                    }
                }
                div:last-child {
                    background: #26d0a8;
                    background-image: url(../images/list4.png);
                    padding-top: 30%;
                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../images/4a.svg);
                        @include bgSetting(contain, center);
                        width: 30px;
                        height: 60px;
                        top: 25%;
                    }
                    @include pad() {
                        h3,
                        p {
                            margin-left: 0;
                        }
                        width: 45%;
                        padding-top: 0;
                    }
                    @include mobile() {
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            .right {
                width: 35%;
                height: 80vh;
                @include pad() {
                    width: 100%;
                    height: 30vh;
                }
                @include mobile() {
                    height: 33.33333%;
                }
                div:first-child {
                    background: #585880;
                    background-image: url(../images/list5.png);
                    padding-top: 50%;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../images/5a.svg);
                        @include bgSetting(contain, center);
                        width: 50px;
                        height: 60px;
                        bottom: 40%;
                    }
                    @include pad() {
                        h3,
                        p {
                            margin-left: 0;
                        }
                        width: 45%;
                        padding-top: 0;
                    }
                    @include mobile() {
                        width: 100%;
                        height: 50%;
                    }
                }
                div:last-child {
                    background: $white;
                    p {
                        color: $font;
                    }
                    h3 {
                        color: $primary;
                    }
                    @include pad() {
                        h3,
                        p {
                            margin-left: 0;
                        }
                        width: 45%;
                        padding-top: 0;
                    }
                    @include mobile() {
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }
    .navOpen {
        clip-path: circle(150.9% at 51% 0);
        opacity: 1;
        position: absolute;
    }
}

.banner {
    @include size(100vw, 100vh);

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .video-filter {
        position: absolute;
        background-color: rgba(31, 31, 31, 0.9);
        @include size(100%, 100%);
        clip-path: circle(141.2% at 0 100%);
        bottom: 0;
        pointer-events: none;
        animation: opacity 7s forwards;
    }
    .top {
        position: absolute;
        top: 20%;
        left: 15%;
        height: 80vh;
        @include pad() {
            top: 30%;
        }
        @include mobile() {
            top: 15%;
            left: 5%;
        }
        .logo {
            width: fit-content;
            &::after {
                content: "";
                @include size(7px, 7px);
                display: inline-block;
                position: absolute;
                left: 59px;
                animation: logodot 6s forwards;
            }
        }
        &::before {
            content: "DIGITAL AGENCY";
            color: white;
            font-weight: 700;
            letter-spacing: 2.22222px;
            transform: rotate(-90deg);
            position: absolute;
            top: 40%;
            left: -30%;
            @include pad() {
                top: 25%;
            }
            @include mobile() {
                display: none;
            }
        }
        &::after {
            content: "";
            display: block;
            width: 1px;
            // height: 130px;
            background-color: $white;
            position: absolute;
            left: -95px;
            top: 60%;
            animation: height 6s 0.6s forwards;
            @include pad() {
                top: 35%;
            }
            @include mobile() {
                display: none;
            }
        }

        h2 {
            position: relative;
            z-index: 1;
            @include mobile() {
                width: 87vw;
            }
            span {
                display: block;
                opacity: 0;
            }
            span:first-child {
                animation: fadeIn 1s 0.2s forwards;
            }
            span:nth-child(2) {
                animation: fadeIn 1s forwards;
            }
            span:nth-child(3) {
                animation: fadeIn 1s 0.5s forwards;
            }
            span:last-child {
                border-top: 8px solid $primary;
                position: absolute;
                display: block;
                opacity: 1;
                top: calc(100% - 25px);
                z-index: -1;
                animation: width 4s 0.6s ease-in forwards;

                &::after {
                    content: "";
                    @include size(10px, 10px);
                    border-radius: 50%;
                    background-color: $dot;
                    display: inline-block;
                    position: absolute;
                    right: -20px;
                    top: -10px;
                }
            }
        }
    }
    .salad {
        position: absolute;
        text-align: center;
        bottom: 0;
        @include size(100vw, 25vh);

        &::after {
            content: "";
            display: block;
            @include size(1px, 30%);
            background-color: $white;
            position: absolute;
            left: 50%;
            bottom: 0;
        }
        a {
            display: inline-block;

            img {
                position: absolute;
                right: -80px;
                transform: translateX(50%);
                animation: salad 4s 0.6s ease-in forwards;
            }
            p {
                color: $white;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 2.22222px;
                position: absolute;
                bottom: 32%;
                right: 50%;
                transform: translateX(50%);
                text-shadow: 0 0 5px $primary, 0 0 10px $primary,
                    0 0 20px $primary, 0 0 40px $primary;
                opacity: 0;
                animation: shine 1.5s 4.6s linear infinite;
            }
        }
    }
    &::after {
        content: "";
        display: block;
        @include size(1px, 15%);
        background-color: $hb;
        position: absolute;
        left: 50%;
        transform: translateY(-4px);
    }
}
.about {
    background-color: $background;
    padding: 200px 0;

    .video {
        position: relative;
        @include size(60vw, auto);
        margin: 0 auto;
        overflow: hidden;

        @include pad() {
            width: 85vw;
        }
        @include mobile() {
            width: 90vw;
        }
        .aboutVideo {
            @include size(100%, 100%);
            object-fit: cover;
        }
        .video-filter {
            position: absolute;
            background-color: rgba(31, 31, 31, 0.5);
            @include size(100%, 100%);
            clip-path: circle(141.2% at 0 100%);
            bottom: 0;
            pointer-events: none;
            transition: 0.5s;
        }
        .videoFilterClose {
            clip-path: circle(11.1% at 0 100%);
            opacity: 0;
        }
        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            @include size(120px, 120px);
            background-color: $primary;
            border-radius: 50%;

            &:hover {
                animation: playbtn 2s infinite linear;
            }
            @include pad() {
                display: none;
            }
        }
        img {
            @include size(70px, 70px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            pointer-events: none;
            @include pad() {
                display: none;
            }
        }
    }
    p {
        margin: 30px 10%;
        @include pad() {
            margin: 30px auto;
        }
        @include mobile() {
            text-align: left;
            display: inline-block;
            width: 90vw;
        }
    }
}
.awards {
    display: flex;
    justify-content: flex-end;
    margin-top: -200px;

    .awards-box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background-color: $white;
        border-radius: 50px 0px 50px 50px;
        width: 85vw;
        padding: 65px;

        @include pad() {
            flex-direction: column;
        }
        @include mobile() {
            padding: 25px;
        }

        .awards-contents {
            width: 35%;
            @include pad() {
                width: 100%;
            }
        }
        .awards-pics {
            @include size(55%, fit-content);
            display: flex;
            flex-wrap: wrap;
            padding-left: 50px;
            @include pad() {
                width: 100%;
            }

            img {
                width: 50%;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }
}
.ingradients {
    background-color: $primary;
    padding: 320px 0;
    border-radius: 50px;
    margin-top: -280px;
    text-align: center;

    h3 {
        color: $white;
        text-decoration-color: $hb;
    }
    p {
        color: $white;
        margin: 50px auto;
        width: 80%;

        @include pad() {
            margin: 20px auto;
        }
        @include pad() {
            display: none;
        }
    }
    .primary-btn {
        background-color: $hb;
    }
    .services {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;

        @include pad() {
            justify-content: flex-start;
            align-items: flex-start;
        }

        .service {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-sizing: border-box;
            padding: 5px;
            margin: 30px auto;
            width: 33.333333%;
            height: 400px;
            @include pad() {
                width: 50%;
                align-items: flex-start;
                height: fit-content;
            }
            @include mobile() {
            }
            .service-pic {
                background-color: $white;
                border-radius: 50px;
                margin: 0 auto;
                @include size(60px, 60px);
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    margin: auto;
                }
            }
            h4 {
                height: 15%;
                margin: 10px auto auto;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include pad() {
                    width: 100%;
                    height: 50px;
                }
            }
            p {
                height: 50%;
                margin: 10px auto auto;
            }
            a {
                margin: 20px auto;
                @include pad() {
                    margin: 20px auto auto;
                    height: 15%;
                }
            }
        }
    }
    > p {
        font-size: 18px;
        font-weight: 700;
        position: relative;
        z-index: 1;
        display: inline-block;
        width: fit-content;

        &::before {
            content: "";
            border-top: 10px solid $highlight;
            position: absolute;
            display: block;
            width: 100%;
            top: 50%;
            left: 0;
            z-index: -1;
        }
    }
}
.tony {
    display: flex;
    justify-content: flex-start;

    .tony-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/shutterstock.jpg);
        @include bgSetting(cover, center);
        padding: 85px 65px;
        width: 75%;
        border-radius: 0 50px 50px 50px;
        margin-top: -250px;

        @include pad() {
            flex-direction: column;
            padding: 40px;
        }
        @include mobile() {
            padding: 20px;
            width: 85%;
        }

        .tony-pic {
            padding: 20px 60px;
            box-sizing: border-box;
            width: 30%;
            text-align: center;
            color: $white;
            img {
                border-radius: 50%;
            }
            h4 {
                margin: 0;
                margin-top: 20px;
            }
            p {
                margin: 0;
                font-style: italic;
            }
            @include pad() {
                width: 100%;
            }
        }
        .tony-content {
            width: 70%;
            color: $white;
            position: relative;
            transform: translateY(30px);

            @include pad() {
                width: 100%;
            }
            p {
                font-size: 22px;
                line-height: 48px;
                padding: 30px 0;

                span {
                    color: $highlight;
                }
                @include mobile() {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &::before {
                content: "";
                @include size(90px, 60px);
                background-image: url(../images/quotemarks.svg);
                @include bgSetting(contain, center);
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.exp {
    padding-top: 432px;
    margin-top: -400px;
    z-index: -2;

    p {
        padding: 50px 0;
        @include pad() {
            padding: 20px 0;
        }
    }
    img {
        @include pad() {
            width: 100%;
        }
    }
}
.intro {
    @include size(100vw, 100vh);
    overflow: hidden;
    position: relative;

    > img {
        @include size(100%, 100%);
        object-fit: cover;
        filter: brightness(0.25) blur(3px);
        animation: bgmove 30s infinite;
    }
    .count {
        color: $white;
        position: absolute;
        right: 10%;
        top: 20%;
        @include size(50px, 50px);
        @include mobile() {
            display: none;
        }
        .line {
            width: 40px;
            height: 1px;
            background-color: $primary;
            display: inline-block;
            transform: rotate(-45deg);
            position: absolute;
            top: 50%;
        }
        p {
            margin: 0;
            position: absolute;
        }
        .num {
            padding-right: 5px;
            display: flex;
            align-items: flex-start;
            color: #fff;
            top: 0;
            left: 0;
        }
        .total {
            padding-left: 5px;
            display: flex;
            align-items: flex-end;
            color: #fff;
            bottom: 0;
            right: 0;
        }
    }
    .intro-box {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        .pre,
        .next {
            position: absolute;
            top: 50%;
            padding: 80px;
            margin: auto;
            cursor: pointer;
            transition: 0.5s;
            z-index: 1;

            @include pad() {
                top: 30%;
            }
            @include mobile {
                padding: 5px;
                top: 35%;
            }
        }
        .pre {
            left: 0;
            &:hover,
            &:active {
                transform: translateX(-15px);
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
                @include mobile() {
                    transform: translateX(-5px);
                }
            }
            img {
                transform: rotate(-180deg);
            }
        }
        .next {
            right: 0;
            &:hover,
            &:active {
                transform: translateX(15px);
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
                @include mobile() {
                    transform: translateX(5px);
                }
            }
        }
        .intro-inner {
            box-sizing: border-box;
            width: 80%;
            height: 70%;
            margin: auto auto 80px;
            display: flex;
            justify-content: space-evenly;

            @include pad() {
                flex-direction: column;
                width: 95%;
                height: 80%;
            }

            .intro-pic {
                width: 40%;
                height: 85%;
                box-sizing: border-box;
                position: relative;
                opacity: 0;
                transform: translateY(-50px);
                animation: leftIn 0.8s forwards;

                @include pad() {
                    width: 60%;
                    height: 45%;
                    margin: 0 auto;
                }
                @include mobile() {
                    width: 80%;
                    height: 50%;
                }
                img {
                    border-radius: 50px;
                    margin-left: 0;
                    @include size(100%, 100%);
                    object-fit: cover;
                }
                a {
                    position: absolute;
                    top: 95%;
                    right: -30px;
                    @include mobile() {
                        top: 80%;
                    }
                }
            }
            .intro-content {
                width: 50%;
                color: $white;
                text-align: left;
                box-sizing: border-box;
                padding: 5% 0 0 5%;
                opacity: 0;
                transform: translateY(-50px);
                animation: leftIn 0.8s 0.1s forwards;

                @include pad() {
                    width: 100%;
                    height: fit-content;
                    margin-top: 50px;
                }
                @include mobile() {
                    margin-top: 0;
                }
                h4 {
                    @include mobile() {
                        margin: 10px 0;
                    }
                }
                h3 {
                    text-decoration: none;
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    width: fit-content;
                    @include pad() {
                        margin: 0;
                    }
                    .progress {
                        border-top: 8px solid #26c6d0;
                        position: absolute;
                        display: block;
                        // width: 100%;
                        bottom: 3px;
                        z-index: -1;
                        animation: progress 6s linear infinite;
                    }
                }
                p {
                    @include mobile() {
                        display: none;
                    }
                }
            }
        }
    }
}
@include mobile() {
    [data-aos] {
        opacity: 1 !important;
        transform: none !important;
    }
}
@keyframes logodot {
    0% {
        top: -50px;
        opacity: 0;
    }
    10% {
        top: -50px;
        opacity: 1;
        background-color: $white;
        border-radius: 0;
        transform: rotate(0);
    }
    95% {
        border-radius: 0;
        transform: rotate(-1800deg);
    }
    98% {
        border-radius: 30px;
        transform: rotate(-1800deg);
    }
    100% {
        top: 12px;
        background-color: $dot;
        border-radius: 50px;
    }
}
@keyframes salad {
    0% {
        right: -80px;
        transform: translateX(50%) rotate(0);
    }
    90% {
        right: 53%;
        transform: translateX(50%) rotate(-1950deg);
    }
    100% {
        right: 50%;
        transform: translateX(50%) rotate(-1800deg);
    }
}
@keyframes shine {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        color: $white;
    }
}
@keyframes opacity {
    0% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}
@keyframes height {
    0% {
        height: 0;
    }
    100% {
        height: 130px;
    }
}
@keyframes width {
    0% {
        width: 0;
    }
    90% {
        width: 110%;
    }
    100% {
        width: 100%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes playbtn {
    0% {
        border-radius: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    25% {
        border-radius: 30px;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    50% {
        border-radius: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    75% {
        border-radius: 30px;
        transform: translate(-50%, -50%) rotate(-270deg);
    }
    100% {
        border-radius: 50%;
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes bgmove {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes leftIn {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
