<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DigiSalad</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        />
        <link rel="stylesheet" href="./css/style.min.css" />
        <link rel="stylesheet" href="https://use.typekit.net/wel8ibk.css" />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="app">
            <header class="header">
                <div class="headerItem">
                    <h1 class="logo">
                        <img
                            src="images/logo-blue.svg"
                            alt="DigiSalad Logo"
                            v-show="isActive2"
                        />
                        <img
                            src="images/logo-white.svg"
                            alt="DigiSalad Logo"
                            v-show="isActive"
                        />
                    </h1>
                    <a href="#" :class="{'startBtnClose':isActive}"
                        >START YOUR PROJECT</a
                    >
                    <div
                        class="hb"
                        :class="{'hbActive':isActive}"
                        @click="isActive = !isActive;navAppear();listFadeIn()"
                    >
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <nav :class="{'navOpen':isActive}">
                    <div class="navlist">
                        <div class="left">
                            <div class="item">
                                <p>EMPOWERING BRNADS</p>
                                <h3>ABOUT US</h3>
                            </div>
                            <div class="item">
                                <p>CASE STUDIES</p>
                                <h3>WORKS</h3>
                            </div>
                        </div>
                        <div class="middle">
                            <div class="item">
                                <p>BE COOL WITH US</p>
                                <h3>CAREERS</h3>
                            </div>
                            <div class="item">
                                <p>OUR STRATIGES</p>
                                <h3>INSIGHTS</h3>
                            </div>
                        </div>
                        <div class="right">
                            <div class="item">
                                <p>AREAS OF EXPERTISE</p>
                                <h3>SERVICES</h3>
                            </div>
                            <div class="item">
                                <p>START YOUR JOURNEY WITH US</p>
                                <h3>CONTACT</h3>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="banner">
                <video autoplay muted loop>
                    <source src="./videos/DigiSalad Website Video-v3.mp4" />
                </video>
                <div class="top">
                    <div class="logo">
                       <img src="./images/logo-big.svg" alt="">
                    </div>
                    <h2>
                        <span>WE CREATE</span>
                        <span>AMAZING</span>
                        <span>DIGITAL EXPERIENCES</span>
                        <span></span>
                    </h2>
                </div>
                <div class="salad">
                    <a @click="goTo('#about')">
                        <img src="./images/salad.svg" alt="TASTE US NOW!" />
                        <p>TASTE US NOW!</p>
                    </a>
                </div>
            </section>
            <section class="about" id="about">
                <div class="content-box">
                    <h3>ABOUT DIGISALAD</h3>
                    <div class="video">
                        <video
                            src="./videos/DigiSalad About.mp4"
                            class="aboutVideo"
                            poster="./images/video-poster.jpg"
                            ref="videoPlayer"
                            @click="togglePlay"
                            autoplay
                        ></video>
                        <div
                            class="video-filter"
                            :class="{'videoFilterClose': isPlaying}"
                        ></div>
                        <div
                            class="play"
                            v-show="!isPlaying"
                            @click="togglePlay"
                        ></div>
                        <img
                            src="./images/media-play-symbol.svg"
                            alt="video play symbol"
                            v-show="!isPlaying"
                        />
                    </div>
                    <p data-aos="fade-up" data-aos-duration="1200">
                        Cras quis nulla commodo, aliquam lectus sed, blandit
                        augue. Cras ullamcorper bibendum bibendum. Duis
                        tincidunt urna non pretium porta. Nam condimentum vitae
                        ligula vel ornare. Phasellus at semper turpis. Nunc eu
                        tellus tortor. Etiam at condimentum nisl, vitae sagittis
                        orci. Donec id dignissim nunc. Donec elit ante, eleifend
                        a dolor et, venenatis facilisis dolor. In feugiat orci
                        odio, sed lacinia sem elementum quis. Aliquam
                        consectetur, eros et vulputate euismod, nunc leo tempor
                        lacus, ac rhoncus neque eros nec lacus. Cras lobortis
                        molestie faucibus.
                    </p>
                    <a href="#" class="primary-btn">
                        <span>VIEW MORE</span>
                    </a>
                </div>
            </section>
            <section class="awards">
                <div class="awards-box">
                    <div class="awards-contents">
                        <h3>AWARDS</h3>
                        <p data-aos="fade-up" data-aos-duration="1200">
                            Cras quis nulla commodo, aliquam lectus sed, blandit
                            augue. Cras ullamcorper bibendum bibendum. Duis
                            tincidunt urna non pretium porta. Nam condimentum
                            vitae ligula vel ornare. Phasellus at semper turpis.
                            Nunc eu tellus tortor. Etiam at condimentum nisl,
                            vitae sagittis orci. Donec id dignissim nunc.
                        </p>
                    </div>
                    <div class="awards-pics">
                        <template v-for="awpic in awpics">
                            <img
                                :src="awpic.url"
                                :alt="awpic.alt"
                                data-aos="fade-up"
                                data-aos-duration="1200"
                            />
                        </template>
                    </div>
                </div>
            </section>
            <section class="ingradients">
                <div class="content-box">
                    <h3>OUR INGRADIENTS</h3>
                    <p data-aos="fade-up" data-aos-duration="1200">
                        Cras quis nulla commodo, aliquam lectus sed, blandit
                        augue. Cras ullamcorper bibendum bibendum. Duis
                        tincidunt urna non pretium porta. Nam condimentum vitae
                        ligula vel ornare. Phasellus at semper turpis. Nunc eu
                        tellus tortor. Etiam at condimentum nisl, vitae sagittis
                        orci. Donec id dignissim nunc. Donec elit ante, eleifend
                        a dolor et, venenatis facilisis dolor. In feugiat orci
                        odio, sed lacinia sem elementum quis. Aliquam
                        consectetur, eros et vulputate euismod, nunc leo tempor
                        lacus, ac rhoncus neque eros nec lacus. Cras lobortis
                        molestie faucibus.
                    </p>
                    <a href="#" class="primary-btn">
                        <span>OUR SERVICES</span>
                    </a>
                </div>
                <div class="services">
                    <div
                        class="service"
                        v-for="service in services"
                        data-aos="fade-up"
                        data-aos-duration="1200"
                    >
                        <div class="service-pic">
                            <img :src="service.url" :alt="service.name" />
                        </div>
                        <h4>{{service.name}}</h4>
                        <p>{{service.content}}</p>
                        <a :href="service.href" class="secondary-btn">
                            VIEW MORE
                        </a>
                    </div>
                </div>
                <p>VIEW MORE DIGISALAD'S INGRADIENTS</p>
            </section>
            <section class="tony">
                <div class="tony-box">
                    <div class="tony-pic">
                        <img src="./images/tony.jpg" alt="TONY NG's picture" />
                        <h4>TONY NG</h4>
                        <p>Founder & Creative Director</p>
                    </div>
                    <div class="tony-content">
                        <p data-aos="fade-up" data-aos-duration="1200">
                            A great digital work isn't about designing beautiful
                            pages purely. It is about context - how do we
                            deliver the
                            <span
                                >right experience to the right person at the
                                right time</span
                            >. The most important thing is that your work can
                            engage customers at anytime, anywhere and let users
                            experience an entire amazing digital journey.
                        </p>
                    </div>
                </div>
            </section>
            <section class="exp">
                <div class="content-box">
                    <h3>OUR BRAND EXPERIENCE</h3>
                    <p data-aos="fade-up" data-aos-duration="1200">
                        Cras quis nulla commodo, aliquam lectus sed, blandit
                        augue. Cras ullamcorper bibendum bibendum. Duis
                        tincidunt urna non pretium porta. Nam condimentum vitae
                        ligula vel ornare. Phasellus at semper turpis. Nunc eu
                        tellus tortor. Etiam at condimentum nisl, vitae sagittis
                        orci. Donec id dignissim nunc. Donec elit ante, eleifend
                        a dolor et, venenatis facilisis dolor. In feugiat orci
                        odio, sed lacinia sem elementum quis. Aliquam
                        consectetur, eros et vulputate euismod, nunc leo tempor
                        lacus, ac rhoncus neque eros nec lacus. Cras lobortis
                        molestie faucibus.
                    </p>
                    <img
                        src="./images/DigiSalad-Client-List.png"
                        alt="DigiSalad Client List"
                    />
                </div>
            </section>
            <section
                class="intro"
                v-for="(intro,idx) in introduction"
                :key="idx"
                v-show="idx === showIntro"
            >
                <img :src="intro.url" alt="background picture" />
                <div class="intro-box">
                    <div class="count">
                        <p class="num">0{{idx + 1}}</p>
                        <span class="line"></span>
                        <p class="total">0{{introduction.length}}</p>
                    </div>
                    <div class="pre">
                        <img
                            src="./images/arrow.svg"
                            alt="pre"
                            @click="setShowIntro(-1)"
                        />
                    </div>
                    <div class="intro-inner">
                        <div class="intro-pic leftIn">
                            <img :src="intro.url" :alt="intro.alt" />
                            <a :href="intro.href" class="primary-btn">
                                <span>VIEW PROJECT</span>
                            </a>
                        </div>
                        <div class="intro-content leftIn">
                            <h4>{{intro.subtitle}}</h4>
                            <h3>{{intro.title}}<span></span></h3>
                            <p>{{intro.content}}</p>
                        </div>
                    </div>
                    <div class="next">
                        <img
                            src="./images/arrow.svg"
                            alt="next"
                            @click="setShowIntro(1)"
                        />
                    </div>
                </div>
            </section>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="all.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
