* {
    font-family: Proxima-Nova;
    font-style: normal;
}
h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 70px;
    letter-spacing: 9.16667px;
    color: $white;
}
h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 3.63636px;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: $primary;
    text-underline-offset: 10px;
    display: inline-block;
    width: fit-content;
    position: relative;

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ee6c8a;
        display: inline-block;
        position: absolute;
        right: -20px;
        bottom: 0;
    }
}
h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    color: white;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
}

.content-box {
    max-width: 1007px;
    text-align: center;
    margin: 0 auto;
}
